body {
background-color:#00BFFF;
color:#CC7F32;
font-size:16pt;
font-family:Arial,Helvetica,sans-serif;
}
input {
		background-color: #FFF;
		color: #999999;
		border: 1px solid #CCC;
		font-size: 11px;
		padding: 3px;
	}
a {
text-decoration:underline;
cursor: pointer;
}
a:hover {
text-decoration:underline;
color:FF5333;
}
a:visited {
text-decoration: underline;
color: blue;
}
a:visited:hover {
text-decoration:underline;
color:FF5333;
}
#footer {
background-color:#344152;
height: 16pt;
float: bottom;
}
#footer p {
margin-left: 3%;
margin-right: 3%;
}		
.button {
		margin-left: 2px;
	}
